form {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.button-link, .button-link:hover, input[type="submit"]{
    color: white;
    text-decoration: none;
}

h1,h2, .ticketButtons, .formButtons{
    text-align: center;
}

h1{
    margin-top: 70px;
    margin-bottom: 50px;
}
li a{
    font-size: 20px;
    color: white;
}
label {
    display: block;
    margin: 10px 0 5px;
}
.redButton{
    background-color: red;
}
.redButton:hover{
    background-color: darkred;
}
.indexButton{
    text-align: center;
    font-size: 20px;
    margin: 30px;

}
.indexButton button{
    width: 30%;
}
input[type="number"], input[type="text"] , input[type="email"], input[type="datetime-local"]
,input[type="date"], textarea, select{
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="file"]{

}
button, input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

button:hover {
    background-color: #218838;
}

.centerButton{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}
.graph-button-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

#team-event-stats-barchart,
#physical-stats-line-chart,
#user-registered-line-chart,
.EventAttendance-barchart
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.graph-button{
    margin-left: 25px;
    margin-right: 25px;
    width: 300px;
    font-size: 20px;
}

.formButtons{
    margin:20px;
    font-size: 20px;
}
.successMessage{
   font-size: 20px;
   text-align: center;
    color: green;
}

.column {
    float: left;
    width: 20.33%;
    padding: 5px;
}




.scroll-table{
    height:auto;
    max-height:400px;
   overflow-y: scroll;
    display:block;

}

.chart-container {
    display: flex;
    justify-content: space-around;
}
.chart {
    width: 50%;
    margin: 40px;
}
#user-registered-line-chart{
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}


thead {

    top:0;
    position: sticky;
    background-color: #E0DBDB;


}
.event-info-details{
    display: flex;
    justify-content: center;
    margin: 20px;

}
.event-info-label{
    background-color: #e1e1d0;
}
.event-info-details td{
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
}
.session-averages-container{
    display:flex;
    justify-content: center;
    gap: 200px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}





.left-table{
    grid-column-start: 1;
    grid-column-end: 6;

}
.right-table{
    grid-column-start: 8;
    grid-column-end: 13;
}


.grid-container{
    display:grid;
    grid-template-columns:repeat(12,8.3%)
}

td,th{
    font-size: 20px;
}

.tooltip{
    position: absolute;
    background-color: #fff;
    padding: 6px;
    pointer-events: none;

}

