<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<div th:insert="~{fragments/navHeader :: navigation-header}">

</div>
<script th:inline="javascript">

    window.onload = function() {
        drawGenderChart([[${totalClubUsers}]],'All Members');

        displayAgeGroupBarChart([[${totalClubUsersAgeGroup}]]);

        let usersRegisteredData= JSON.parse([[${listOfNewUsersPast6monthsJson}]])

        displayUserRegisteredLineChart(usersRegisteredData);

    };
</script>
<body>

<h1> Club Member Statistics </h1>
<div class="graph-button-container">
    <button class="graph-button" th:onclick="updateGenderChartData([[${totalClubUsers}]],'All Members'); ">All Members</button>
    <button class="graph-button" th:onclick="updateGenderChartData([[${totalClubMembers}]],'Club Members')">Club Members</button>
    <button class="graph-button" th:onclick="updateGenderChartData([[${totalClubTrainer}]],'Trainers')">Trainers</button>
    <button class="graph-button" th:onclick="updateGenderChartData([[${totalClubPlayers}]],'Players')">Players</button>
    <button class="graph-button" th:onclick="updateGenderChartData([[${totalClubAdmins}]],'Admins')">Admins</button>
</div>
  <div class="chart-container">
<div id="gender-barchart" class="chart"></div>

<div id="gender-age-barchart" class="chart"></div>
</div>

<div id="user-registered-line-chart"></div>



</body>
</html>