<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<div th:insert="~{fragments/navHeader :: navigation-header}">

</div>
<script th:inline="javascript" th:if="!${clubEvent.getAttendanceList().isEmpty()}">
    window.onload = function() {

        let clubEventAttendanceStats=JSON.parse([[${clubEventAttendanceStats}]]);
        drawEventStatsBarChart(clubEventAttendanceStats);

    };


</script>
<body>
<h1 th:text="${clubEvent.getClubEventName()}+' Details'" ></h1>

<table class="event-info-details">
    <tr>
        <td class="event-info-label"><strong>Event Description</strong></td> <td th:text="${clubEvent.getClubEventDescription()}"/>
    </tr>
    <tr>
        <td class="event-info-label"><strong>Event Location</strong></td> <td th:text="${clubEvent.getLocation()}"/>
    </tr>
    <tr>
        <td class="event-info-label"><strong> Event Start Date </strong></td> <td th:text="${#temporals.format(clubEvent.getStartDate(),'yyyy-MM-dd HH:mm')}"/>
    </tr>
</table>

<h2 th:if="${clubEvent.getAttendanceList().isEmpty()}">No Attendance Recorded For This Club Event</h2>
<div class="centerButton">
    <a th:href="@{'/clubEvents/viewClubEvents'}">
        <button>Back To Club Events</button>
    </a>
</div>

<div class="grid-container">
<div class="left-table" th:if="!${clubEvent.getAttendanceList().isEmpty()}">

    <h2 th:text="'Going: '+${attendingCount} "/>

<div class="scroll-table">
<table class="table table-hover" th:unless="${clubEvent.getAttendanceList().isEmpty()}">
<thead>
    <tr>
        <th> Name</th>
        <th>Email</th>
    </tr>
</thead>
    <tr th:each="clubEventAttendance: ${clubEvent.getAttendanceList()}">

        <td th:if="${clubEventAttendance.getAttendance()==true}"
            th:text="${clubEventAttendance.getClubMember().getFirstName()}+' '+
            ${clubEventAttendance.getClubMember().getLastName()}"></td>

        <td th:if="${clubEventAttendance.getAttendance()==true}"
            th:text="${clubEventAttendance.getClubMember().getEmail()}"></td>

    </tr>

</table>
</div>
</div>

<div class="right-table" th:if="!${clubEvent.getAttendanceList().isEmpty()}">
<h2 th:text="'Not Going: '+${notAttendingCount} "/>
<div class="scroll-table">
<table class="table table-hover" th:unless="${clubEvent.getAttendanceList().isEmpty()}">
<thead>
    <tr>
        <th> Name</th>
        <th>Email</th>
    </tr>
</thead>

    <tr th:each="clubEventAttendance: ${clubEvent.getAttendanceList()}">
        <td th:if="${clubEventAttendance.getAttendance()==false}"
            th:text="${clubEventAttendance.getClubMember().getFirstName()}+' '+
            ${clubEventAttendance.getClubMember().getLastName()}"></td>

        <td th:if="${clubEventAttendance.getAttendance()==false}"
            th:text="${clubEventAttendance.getClubMember().getEmail()}"></td>
    </tr>

</table>
</div>
</div>

</div>


<div class="EventAttendance-barchart" th:if="!${clubEvent.getAttendanceList().isEmpty()}"></div>

</body>
</html>