<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="~{fragments/navHeader :: navigation-header}">

</div>
<script th:inline="javascript" th:if="!${teamEvent.getListOfPlayerSessionsStats().isEmpty()}">

    window.onload = function() {

        let teamEventAttendanceStats=JSON.parse([[${teamEventAttendanceStats}]]);
        console.log(teamEventAttendanceStats.attendingCount);
        drawEventStatsBarChart(teamEventAttendanceStats);

    };


</script>

<body>
<h1 th:text="${teamEvent.getEventName()}+' Details'" ></h1>

<p><strong>Event Description :</strong> <span th:text="${teamEvent.getEventDescription()}"/><br></p>
<p><strong>Event Location :</strong> <span th:text="${teamEvent.getLocation()}"/><br></p>
<p> <strong> Event Start Date: </strong> <span th:text="${#temporals.format(teamEvent.getStartDate(),'yyyy-MM-dd HH:mm')}"/><br></p>


<div class="grid-container">

    <div class="left-table" th:if="!${teamEvent.getListOfPlayerSessionsStats().isEmpty()}">
<h2 th:text="'Going: '+${attendingCount}"/>
<div class="scroll-table">
<table class="table table-hover" th:unless="${teamEvent.getAttendanceList().isEmpty()}">
<thead>
    <tr>


        <th> Name</th>
        <th>Email</th>



    </tr>

</thead>

    <tr th:each="teamEventAttendance: ${teamEvent.getAttendanceList()}">





        <td th:if="${teamEventAttendance.getAttendance()==true}"
            th:text="${teamEventAttendance.getTeamMember().getFirstName()}+' '+
            ${teamEventAttendance.getTeamMember().getLastName()}"></td>
        <td th:if="${teamEventAttendance.getAttendance()==true}"
            th:text="${teamEventAttendance.getTeamMember().getEmail()}"></td>







    </tr>


</table>
</div>
</div>
    <div class="right-table" th:if="!${teamEvent.getListOfPlayerSessionsStats().isEmpty()}">
    <h2 th:text="'Not Going: '+${notAttendingCount}"/>
<div class="scroll-table">


<table class="table table-hover" th:unless="${teamEvent.getAttendanceList().isEmpty()}">
<thead>
    <tr>


        <th> Name</th>
        <th>Email</th>



    </tr>
</thead>

    <tr th:each="teamEventAttendance: ${teamEvent.getAttendanceList()}">





        <td th:if="${teamEventAttendance.getAttendance()==false}"
            th:text="${teamEventAttendance.getTeamMember().getFirstName()}+' '+
            ${teamEventAttendance.getTeamMember().getLastName()}"></td>
        <td th:if="${teamEventAttendance.getAttendance()==false}"
            th:text="${teamEventAttendance.getTeamMember().getEmail()}"></td>







    </tr>


</table>


</div>

    </div>

<div class="EventAttendance-barchart" th:if="!${teamEvent.getListOfPlayerSessionsStats().isEmpty()}">

</div>

<a th:href="'/teamEvents/viewUsersTeamEvents'">Back To Team Events </a>


</body>
</html>