<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<div th:insert="~{fragments/navHeader :: navigation-header}">

</div>
<script th:inline="javascript" th:if="!${listOfPlayerPhysicalStats.isEmpty()}">

    window.onload = function() {
        let jsonString=[[${heightStats}]];
        drawPlayerPhysicalStatsLineChart(jsonString, 'Height Value', [[${player.getFirstName()}]]+' '+[[${player.getLastName()}]]+'\'s');

    };
</script>
<body>
<h1 th:text="${player.getFirstName()}+' '+
            ${player.getLastName()} + ' Physical Stats'"></h1>

<div th:if="${successMessage}" class="successMessage">
    <p th:text="${successMessage}"> </p>
</div>


<h2     th:if="${listOfPlayerPhysicalStats.isEmpty()}"> No Player Physical Stats Have Been Recorded Yet </h2>





<div class="scroll-table">
<table class="table table-hover" th:unless="${listOfPlayerPhysicalStats.isEmpty()}">
<thead>
    <tr>

        <th>Height (Metres)</th>
        <th>Weight (Kg)</th>
        <th>Body Fat %</th>
        <th>Body Mass Index (BMI)</th>

    </tr>

</thead>

    <tr th:each="playerPhysicalStats: ${listOfPlayerPhysicalStats}">

        <td th:text="${#numbers.formatDecimal(playerPhysicalStats.getHeightM(), 2, 2)}"></td>

        <td th:text="${#numbers.formatDecimal(playerPhysicalStats.getWeightKg(), 2, 2)}"></td>

        <td th:text="${#numbers.formatDecimal(playerPhysicalStats.getFatPercentage(), 2, 2)}"></td>

        <td th:text="${#numbers.formatDecimal(playerPhysicalStats.getBmi(), 2, 2)}"></td>

    </tr>


</table>
</div>


<div class="centerButton">
<a th:href="'/teams/teamDrillDown/'+${teamId}">
     <button>Back To Team Details</button>
</a>
</div>



<div class="graph-button-container">
<button class="graph-button" th:onclick="updateChartData([[${heightStats}]], 'Height (Metres)',[[${player.getFirstName()}]]+' '+[[${player.getLastName()}]]+'\'s')" th:if="!${listOfPlayerPhysicalStats.isEmpty()}">Height</button>
<button class="graph-button" th:onclick="updateChartData([[${bmiStats}]], 'BMI Value',[[${player.getFirstName()}]]+' '+[[${player.getLastName()}]]+'\'s')" th:if="!${listOfPlayerPhysicalStats.isEmpty()}">BMI</button>
<button class="graph-button" th:onclick="updateChartData([[${weightStats}]], 'Weight (Kg)',[[${player.getFirstName()}]]+' '+[[${player.getLastName()}]]+'\'s')" th:if="!${listOfPlayerPhysicalStats.isEmpty()}">Weight</button>
    <button class="graph-button" th:onclick="updateChartData([[${bodyFatPercentageStats}]], 'Body Fat %', [[${player.getFirstName()}]]+' '+[[${player.getLastName()}]]+'\'s')" th:if="!${listOfPlayerPhysicalStats.isEmpty()}">Body Fat Percentage</button>
</div>

<div id = "physical-stats-line-chart"></div>
</body>
</html>