<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<div th:insert="~{fragments/navHeader :: navigation-header}">

</div>

<script th:inline="javascript" th:if="!${teamEvent.getListOfPlayerSessionsStats().isEmpty()}">

    window.onload = function() {

        let jsonString=[[${tenHighestMaxBPM}]];
        drawTeamStatisticsChart(jsonString,"Max BPM");

    };
</script>
<body>
<h1 th:text="${teamEvent.getEventName()}+' Session Stats'" ></h1>

<div th:if="${successMessage}" class="successMessage">
    <h3 th:text="${successMessage}"> </h3>
</div>


<div class="centerButton" th:if="!${teamEvent.getListOfPlayerSessionsStats().isEmpty()}">
    <a th:href="@{'/api/v1/teamSessionStats/'+${teamEvent.getTeamEventId()}}">
        <button>Export To PDF</button>
    </a>
</div>


<h2     th:if="${teamEvent.getListOfPlayerSessionsStats().isEmpty()}"
        th:text="${teamEvent.getEventName()}+' Session Stats has not been recorded yet'" ></h2>



<div class="scroll-table">
<table class="table table-hover" th:unless="${teamEvent.getListOfPlayerSessionsStats().isEmpty()}">
<thead>
    <tr>
        <th> Name</th>
        <th>Resting BPM</th>
        <th>Average BPM</th>
        <th>Max BPM</th>
        <th>Calories Burned</th>
    </tr>

</thead>

    <tr th:each="playerSessionStats: ${teamEvent.getListOfPlayerSessionsStats()}">

        <td  th:text="${playerSessionStats.getPlayer().getFirstName()}+' '+
            ${playerSessionStats.getPlayer().getLastName()}"></td>

        <td th:text="${#numbers.formatDecimal(playerSessionStats.getRestingBpm(), 2, 2)}"></td>

        <td th:text="${#numbers.formatDecimal(playerSessionStats.getAverageBpm(), 2, 2)}"></td>

        <td th:text="${#numbers.formatDecimal(playerSessionStats.getMaxBpm(), 2, 2)}"></td>

        <td th:text="${#numbers.formatDecimal(playerSessionStats.getCaloriesBurned(), 2, 2)}"></td>

    </tr>


</table>
</div>

<h2     th:if="!${teamEvent.getListOfPlayerSessionsStats().isEmpty()}">
    Average Of Each Statistic Recorded In This Session
</h2>

<div class ="session-averages-container" th:if="!${teamEvent.getListOfPlayerSessionsStats().isEmpty()}">
    <div class ="stats-averages">
        <strong>Max BPM Average</strong><br>
        <span th:text="${#numbers.formatDecimal(maxBpmAverage,2,2)}">

        </span>
    </div>
    <div class ="stats-averages">
        <strong>Resting BPM</strong> <br>
        <span th:text="${#numbers.formatDecimal(restingBpmAverage,2,2)}">

        </span>
    </div>
    <div class ="stats-averages">
        <strong>Average BPM</strong><br>
        <span th:text="${#numbers.formatDecimal(averageBpmAverage,2,2)}">

        </span>
    </div>
    <div class ="stats-averages">
        <strong>Calories Burned</strong><br>
        <span th:text="${#numbers.formatDecimal(caloriesBurnedAverage,2,2)}">

        </span>
    </div>

</div>

<div class="centerButton">
    <a th:href="@{'/teamEvents/viewUsersTeamEvents'}">
        <button>Back To Teams Events</button>
    </a>
</div>

<div class="graph-button-container" th:if="!${teamEvent.getListOfPlayerSessionsStats().isEmpty()}">
<button class="graph-button" th:onclick="updateTeamStatsChartData([[${tenHighestMaxBPM}]],'Max BPM')">Max BPM</button>
<button class="graph-button" th:onclick="updateTeamStatsChartData([[${tehHighestAverageBPM}]],'Average BPM')">Average BPM</button>
<button class="graph-button" th:onclick="updateTeamStatsChartData([[${tenHighestRestingBPM}]],'Resting BPM')">Resting BPM</button>
<button class="graph-button" th:onclick="updateTeamStatsChartData([[${tenHighestCaloriesBurned}]],'Calories Burned')">Calories Burned</button>
</div>

<div id ="team-event-stats-barchart">

</div>


</body>
</html>